abm_strategic/*.pyc
abm_strategic/*sublime*
abm_strategic/my_paras.py
abm_strategic/my_paras_iter.py
abm_tactical/*.pyc
scripts/*.pyc
libs/*.pyc
libs/YenKSP/*.pyc
interface/*.pyc
abm_tactical/*.so
abm_tactical/*.o
abm_tactical/ABMtactic.py
abm_tactical/ABMtactic_wrap.c
abm_tactical/*sublime*
abm_tactical/config/*.dat
trajectories/*
results_tactical
results_strategic
networks
*sublime*
abm_strategic/Model2.sublime-workspace
.ipynb*
results/*
*.ipynb
scripts/paras_sweep_*
scripts/.sync
.sync
scripts/strategic_simulations*
doc/*.synctex.gz
doc/*.toc
doc/*.log
doc/*.aux
doc/*.html
tests/*.pyc
*.orig