# Configuration File. Attention each value has to be followed by the sharp with the label of variable

# Number of simulation performed by the ABM
1	#nsim

# Maximum Angle of deviation from original trajectory in rerouting
0.2745	#max_ang
0.2745	#extr_ang

# Percentage of possibility to have a direct
0.10	#direct_thr

# Maximum amount of delay on departure (sec)
600	#xdelay

# Percentage of flight with xdelay 
1	#pdelay

# Boolean to have a laplacian variation of velocity
0	#laplacian_vel

# Average number of shock per time-step per flight level
0	#Nm_shock

# Radius of the shock (meters)
18500	#radius

# Minimum and Maximum flight level for shocks
240	#shock_f_lvl_min
340	#shock_f_lvl_max

# Average lifetime of a shock ( t_w*t_r*t_i unity )
1	#lifetime

# Number of elementary time increment in a time-step
90	#t_w

# Size of a time incremet (sec)
8	#t_i

# Fraction of t_w after which the alghorithm is updated
0.20	#t_r

#Boolean 1) shortest path 0) minimum deviation (rerouting)
1	#shortest_path

#threshold value of the safety distance between aircraft (meters)
10000	#d_thr
#0.0000000029	#noise_d_thr
0.4	#noise_d_thr
#0.00001	#noise_d_thr

#Boolean 1) Peter-Gall projection 2) Spheric Geometry
1	#geom

#Width of distribution of noise on velocity. Needs to be between -1 and 1 (not included).
0	#sig_V

# Boolean. If 1, new temporary navpoints are read from the disk. Otherwise they are generated. Remark: should always be set to 1! TODO: remove this.
1	#tmp_from_file

# Moltiplicative factor for capacity
0.1	#x_capacity

# Stating and Ending Datetime of the Simulation Year-Mounth-Day Hour:minute:second
2010-05-07 00:00:00	#start_datetime
2010-06-03 23:59:59	#end_datetime
#2010-05-07 12:30:00	#end_datetime

# Main directory. TODO: automatic detection. Or remove this?
/home/profeta/Desktop/ELSA-ABM	#main_dir

# file for boundaries.
/home/profeta/Desktop/ELSA-ABM/abm_tactical/config/bound_latlon.dat	#bound_file

# file for temporary points.
/home/profeta/Desktop/ELSA-ABM-WORK/abm_tactical/config/temp_nvp_LI.dat	#temp_nvp

# file for shocks.
/home/profeta/Desktop/ELSA-ABM/abm_tactical/config/shock_tmp.dat	#shock_tmp

#file for capacity
/home/profeta/Desktop/ELSA-ABM-WORK/abm_tactical/config/sector_capacities.dat	#capacity_file
